<div class="container">

  <h1 class="text-center">AC/CC Development Status</h1>

  <hr>
  <h2>Bug reports</h2>
  <p class="lead">Bug reports waiting to be triaged: <strong>{{ gitHubService.getToTriageCount() | async }}</strong> <a href="https://github.com/chromiecraft/chromiecraft/issues?q=is%3Aissue+is%3Aopen+label%3A%22Needs+Triage%22">(see all)</a></p>
  <p>Want to help? Check our <a href="https://github.com/chromiecraft/chromiecraft/#for-contributors-how-to-triagereport-bugs">bug triaging guide</a>.</p>

  <hr>
  <h2>Testing</h2>
  <p class="lead">PRs waiting to be tested: <strong>{{ gitHubService.getToTestCount() | async }}</strong> <a href="https://github.com/azerothcore/azerothcore-wotlk/pulls?page=1&q=is%3Apr+is%3Aopen+label%3A%22Waiting+to+be+tested%22">(see all)</a></p>
  <p>Want to help? Check our <a href="https://www.azerothcore.org/wiki/how-to-test-a-pr">PR testing guide</a>.</p>

  <hr>
  <h2>Fixing</h2>
  <p class="lead">Confirmed bugs are organised into GitHub Projects according to their content bracket (e.g. Generic, 1-19, 20-29, etc...).</p>
  <p class="lead">An overview of the Projects development status is available <strong><a href="https://github.com/azerothcore/azerothcore-wotlk/projects?query=is%3Aopen+sort%3Aname-asc">here</a></strong>.</p>
  <p>Want to help? Some useful links below:</p>
  <ul>
    <li><a href="https://www.azerothcore.org/wiki/getting-started">Getting started with AzerothCore</a></li>
    <li><a href="https://www.azerothcore.org/wiki/installation">Installing AzerothCore</a></li>
    <li><a href="https://www.azerothcore.org/wiki/How-to-create-a-PR">How to create a PR</a></li>
    <li><a href="https://www.azerothcore.org/wiki/how-to-create-a-db-pr">How to create a DB PR via GitHub</a></li>
    <li><a href="https://www.azerothcore.org/Keira3/">Keira3 Database Editor</a></li>
    <li><a href="https://discordapp.com/invite/gkt4y2x">AzerothCore Discord Chat</a></li>
  </ul>

</div>
